@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
body {
  background: rgb(52, 50, 50);
  font-family: "Nanum Myeongjo", serif;
  color: white;
  font-size: 72px;
  line-height: 0.9;
  box-sizing: border-box;
  position: relative;
  top: 100px;
  margin: 0;
  padding: 0 0 0 50px;
  .img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 50%;
    opacity: 0.5;
  }
}
.arrow {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
  border: 2px solid white;
  border-color: transparent transparent transparent white;
  height: 100px;
}
